name: Package & Publish themes

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/publish.yml
      - "themes/**"
      - "app/**"

  workflow_dispatch:

concurrency:
  group: publish-themes
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  package-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout primary repository (main branch)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup yq
        uses: mikefarah/yq@master

      - name: Get configuration variables
        id: get-config
        run: |
          OUTPUT_DIR="$(yq '.packaging.output-dir' themes/config.yml)"
          PUBLISH_BRANCH="$(yq '.packaging.repo.branch' themes/config.yml)"

          if [[ "$OUTPUT_DIR" == "null" ]]; then
              echo "::error:: Couldn't get output dir"
              exit 1
          elif [[ "$PUBLISH_BRANCH" == "null" ]]; then
              echo "::error:: Couldn't get publish branch"
              exit 1
          fi

          echo "output-dir=$OUTPUT_DIR" >> $GITHUB_OUTPUT
          echo "publish-branch=$PUBLISH_BRANCH" >> $GITHUB_OUTPUT

      - name: Configure Git Credentials (Initial setup)
        run: |
          git config user.name "Soumadip Das"
          git config user.email "84225810+soymadip@users.noreply.github.com"

      - name: Check & create publish branch
        id: check-branch
        run: |
          TARGET_BRANCH="${{ steps.get-config.outputs.publish-branch }}"

          # Check if branch exists on remote
          if git ls-remote --heads origin "$TARGET_BRANCH" | grep -q "$TARGET_BRANCH"; then
            echo "✅ Branch '$TARGET_BRANCH' found."
          else
            echo "⚠️ Branch '$TARGET_BRANCH' not found. Creating it now."

            # Create and initialize the orphan branch
            if ! git checkout --orphan "$TARGET_BRANCH"; then
              echo "❌ Failed to create orphan '$TARGET_BRANCH' branch"
              exit 1
            fi

            # Clear working directory and commit an empty state
            git rm -rf .
            git commit --allow-empty -m "Initialize $TARGET_BRANCH branch"

            # Push the new branch
            if ! git push origin "$TARGET_BRANCH"; then
              echo "❌ Failed to push new branch to origin"
              exit 1
            fi

            # Switch back to main branch
            git checkout main
          fi

      - name: Checkout publish branch into output directory
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}
          ref: ${{ steps.get-config.outputs.publish-branch }}
          path: ${{ steps.get-config.outputs.output-dir }}
          fetch-depth: 1

      - name: Package themes
        id: package
        run: bash app/mytm -c themes/config.yml

      - name: Publish themes and index
        run: |
          OUTPUT_DIR="${{ steps.get-config.outputs.output-dir }}"
          PUBLISH_BRANCH="${{ steps.get-config.outputs.publish-branch }}"

          # Navigate into the nested repository
          cd "$OUTPUT_DIR"

          git config user.name "Soumadip Das"
          git config user.email "84225810+soymadip@users.noreply.github.com"

          # Add all changed files
          git add .

          # Check if there are changes to commit
          if git diff --staged --quiet; then
            echo "No new files to commit"
          else
            git commit -m "Update themes from ${{ github.sha }}"

            echo "Pushing changes to $PUBLISH_BRANCH branch..."
            git push origin HEAD:"$PUBLISH_BRANCH"

            echo "Generate release summary"

            awk_script="../.github/scripts/summarize-themes.awk"

            if [ -f "$awk_script" ]; then
              git show --name-status --format="" HEAD \
                | awk -f "$awk_script" \
                >> "$GITHUB_STEP_SUMMARY"
            else
              echo "No summary generated (awk script not found)." >> "$GITHUB_STEP_SUMMARY"
            fi

            echo "✓ Published all theme files to repo branch"
          fi
